*,*::after,*::before{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: trendabold,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.3;
	height: 100%;
	color: #666;
	background: #fafafa;
}

img{
	max-width: 100%;
	height: auto;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

h2,h3{
	color: black;
}

h1{
	font-weight: 900;
	font-size: 1.6rem;
	margin: 0;
	margin-left: 1rem;
	padding: 0;
}

.discover > p, .favorites > p, .news-header p{
	margin-top: 0;
	padding-top: 0;
}

.discover > h2, .favorites > h2, .news-header h2{
	margin-bottom: 0.5rem;
}

.container{
	margin: 0 auto;
	width: 90%;
	max-width: 1500px;
}

.container h2{
	font-size: 1.5rem;
	font-weight: 700;
}

/* header */
header{
	background-image: linear-gradient(to right,#00d687,#00d2ab);
	color: #fff;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.header-wrapper{
	/*margin: 0 auto;
	width: 90%;
	max-width: 1500px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

@media (max-width: 1024px){
	header{
		margin-top: 35px;
	}

	.header-wrapper{
		flex-wrap: wrap;
	}
}

.far{
	background: rgba(255,255,255,1);
	padding: 0.9rem;
	font-size: 15px;
	border-radius: 50%;
	transition: background 250ms ease-in;
	margin: 0 0.4rem;
	text-shadow: none;
}

.far:hover{
	background: rgba(255,255,255,0.75);
}

.logo .fas{
	color: #00d687;
	border-radius: 50%;
	padding: 1rem;
	font-size: 20px;
	background: white;
	text-shadow: none;
}

.logo a{
	display: flex;
	color: inherit;
	text-decoration: none;
	align-items: center;
}

.logo, .contact, .account{
	display: flex;
	align-items: center;
}

.contact p{
	margin: 0;
	padding: 0;
}

.contact p span{
	margin: 0 0.5rem;
	font-weight: 700;
	font-size: 1.1rem;
}

.contact a{
	color: rgba(255,255,255,1);
	text-decoration: none;
	text-decoration: underline;
	transition: color 250ms ease-in;
	font-weight: 700;
}

.contact a:hover{
	color: rgba(255,255,255,0.75);
}

.favorite{
	position: relative;
}

.favorite-number{
	position: absolute;
	right: 0;
	top: 0;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	padding: 2px;
	min-height: 20px;
	border-radius: 50%;
	font-size: 0.7rem;
	font-weight: 700;
}

@media(max-width: 500px){
	.far{
		transform: scale(0.75);
		margin: 0 0.1rem;
	}

	.logo .fas{
		transform: scale(0.65);
	}	

	h1{
		font-size: 1.2rem;
		margin-left: 0rem;
	}

	.favorite-number{
		min-width: 16px;
		min-height: 16px;
		font-size: 0.5rem;
		right: 10%;
		z-index: 1;
	}

}

@media(max-width: 300px){
	h1{
		display: none;
	}
}

@media (max-width: 1024px){
	.header-wrapper{
		position: relative;
	}

	.contact{
		position: absolute;
		bottom: 100%;
		right: 0;
		margin-bottom: 5px;
		color: rgba(1,1,1,0.5);
		width: auto;
	}

	.contact a{
		display: none;
	}

	.contact p span{
		margin-right: 0;
		font-size: 15px;
	}

	.account p{
		display: none;
	}

	.fa-user
	{
		margin-right: 0;
	}
}

@media (max-width: 500px){
	.contact p span{
		font-size: 13px;
		margin-left: 0.3rem;
	}	
}

/* navigation */
nav.desktop-navigation{
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	z-index: 999;
}

.navbar-wrapper{
	/*margin: 0 auto;
	width: 90%;
	max-width: 1200px;*/
}

/* Navbar - mainmenu */
.navbar-mainmenu{
	display: flex;
	justify-content: space-between;
	position: relative;
	/*z-index: 2;*/
	z-index: 999;
}

.mainmenu-li{
	font-weight: 700;
	/*z-index: 3;	*/
}

.mainmenu-li > a{
	/*z-index: 4;*/
	padding: 1rem;
	display: block;
	text-decoration: none;
	color: #333333;
	transition: color 250ms ease-in;
	position: relative;
	/*cursor: pointer;*/
}

@media(max-width: 1024px){
	.mainmenu-li > a{
		padding: 1rem 2px;
	}
}

.mainmenu-li > a:hover{
	color: #00d687;
}


/* Sipka dole cez JS, do li, takto to nefunguje spravne*/
.dropdown > a::before{
	content: '';
	display: block;
	position: absolute;	
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 5px;
	background: white;
	bottom: 0;
	/*z-index: 4;*/
	z-index: 899;
}

.dropdown > a::after{
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) scale(1,0);
	transform-origin: top;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid white;
    transition: transform 250ms ease-in;
    /*z-index: 3;*/
    z-index: 799;
}

.dropdown > a:hover::after{
	transform: translateX(-50%) scale(1,1);
	-webkit-filter: drop-shadow(0px 2px 4px rgba(0,0,0,.1));
	filter: drop-shadow(0px 2px 4px rgba(0,0,0,.1));
}

/* Navbar - submenu */
.navbar-submenu{
	/*z-index: 2;*/
	z-index: 699;
}

.mainmenu-li > .navbar-submenu{
	position: absolute;
	left: 0;
	right: 0;
	transform: scale(1,0);
	opacity: 0;
	/* display: none; */
}

.mainmenu-li:hover > .navbar-submenu{
	transform: scale(1,1);
	opacity: 100%;
	transition: opacity 150ms ease-in 250ms;
	/* display: block; */
}

.navbar-submenu-wrapper{
	margin-top: 1rem;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}

.navbar-submenu-wrapper li{
	font-size: 15px;
}

.fa-gift{
	margin-right: 5px;
}

/* Navbar - submenu - VSE */

ul.submenu-vse{
	display: flex;
	padding: 4rem 3rem;
}

.submenu-vse li{
	text-align: center;
	position: relative;
	margin: 1rem;
	max-width: 120px;
}

.submenu-vse img{
	border-radius: 50%;
	object-fit: cover;
	width: 10vw;
	height: 10vw;
	max-width: 120px;
	max-height: 120px;
}

.submenu-vse p{
	padding: 0;
	margin: 0;
}

.submenu-vse li a, 
.navbar-mobile-box-inspirace a,
.navbar-mobile-footer a{
	padding: 0;
	color: #222222;
	font-weight: 400;
	transition: color 250ms ease-in;
}

.submenu-vse li a:hover,
.navbar-mobile-box-inspirace a:hover,
.navbar-mobile-footer a:hover{
	color: #00d687;
}

.vse-counter{
	position: absolute;
	right: 0;
	top: 10%;
	background: #00d687;
	padding: 3px 5px;
	font-size: 16px;
	color: white;
	border-radius: 13px;
	font-weight: 700;
	min-width: 26px;
	min-height: 26px;
}

/* Navbar - submenu - Countries */

.submenu-country{
	display: flex;
}

.submenu-country-header{
	flex: 0 1 250px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("images/background-country.jpg") no-repeat center / cover;
}

.submenu-country-header h2{
	font-size: 3rem;
	padding: 0;
	margin: 0;
	transform: rotate(180deg);
	text-transform: uppercase;
	color: white;
}

.submenu-country-item{
	flex: 0 1 400px;
	padding: 2rem 1rem;
}

.inspirace{
	flex: 0 1 200px;
}

.submenu-country-item{
	display: flex;
	flex-direction: column;
}

.submenu-country h3, 
.submenu-checkbox-wrapper h3,
.navbar-mobile-box-inspirace h3,
.navbar-mobile-contact h3{
	position: relative;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.submenu-country h3::after, 
.submenu-checkbox-wrapper h3::after,
.navbar-mobile-box-inspirace h3::after,
.navbar-mobile-contact h3::after{
	position: absolute;
	content: '';
	display: block;
	left: 0;
	bottom: -4px;
	width: 40px;
	height: 4px;
	background: #00d687;
}

.submenu-country-item ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 260px;
}

.submenu-country-item li, .submenu-checkbox-wrapper li{
	padding: 3px 6px 3px 0;
}

.submenu-country-item a, .submenu-checkbox-wrapper a{
	font-weight: 400;
	padding: 2px 0;
	cursor: pointer;
	transition: all 250ms ease-out;
	text-decoration: underline;
	color: inherit;
}

.submenu-country-item a:hover, .submenu-checkbox-wrapper a:hover{
	text-decoration: underline;
	color: #00d687;
}

.submenu-country-neprehlednete{
	flex: 0 1 300px;
	padding: 2rem 1rem;
}

/* Arrow menu */
.checkbox-wrapper{
	position: relative;
	height: 100%;
	width: 20px;
}


.arrow, .checkbox{
	position: absolute;
	top: 15px;
	right: 0;
	height: 20px;
	width: 20px;
	padding: 0;
	margin: 0;
	border: 0;
}

.checkbox{
	opacity: 0;
}

.arrow{
	width: 20px;
	height: 20px;
}

.fa-chevron-circle-down{
	font-size: 20px;
	color: #00d687;
}

.checkbox{
	z-index: 10;
}

.checkbox-wrapper ul{
}

.submenu-checkbox{
	position: absolute;
	top: 100%;
	right: 0;	
	width: 200px;
	height: 500px;
	transform: scale(0);
	/*display: none;*/
	z-index: 1;
}

.checkbox:checked ~ .submenu-checkbox{
	transform: scale(1);	
	/*display: block;*/
}

.submenu-checkbox-wrapper{
	padding: 1rem;
	transform: translateY(5%);
	transition: transform 200ms ease-in, opacity 200ms ease-in;
	opacity: 0;
}

.submenu-checkbox-wrapper ul{
}

.checkbox:checked ~ .submenu-checkbox .submenu-checkbox-wrapper{
	transform: translateY(0);
	opacity: 1;
	transition: transform 200ms ease-in, opacity 200ms ease-in;
}

.checkbox:checked ~ .arrow >.fa-chevron-circle-down{
	transform: rotateX(180deg);
}

@media(max-width: 780px){
	nav.desktop-navigation{
		display: none;
	}
}

@media (min-width: 780px){
	nav.navbar-mobile{
		display: none;
	}
}

@media (max-width: 780px){
	/******** NAV - MOBILE *********/
	nav.navbar-mobile{
		position: absolute;
		top: 0;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
	}

	.navbar-wrapper{
		position: relative;
	}

	.checkbox-hamburger{
		opacity: 0;
	}

	.hamburger-label, .hamburger{
		position: absolute;
		width: 80px;
		height: 25px;
		top: 5px;
		left: 0;
		border: 0;
		padding: 0;
		margin: 0;
	}

	.hamburger{
		display: flex;
		align-items: center;
	}

	.hamburger span{
		margin-left: 5px;
		font-weight: ;00;
		letter-spacing: 1px;
	}

	.hamburger-line{
		width: 15px;
		position: relative;
		height: 2px;
		background: #333;
		transition: transform 250ms ease-in;
	}

	.hamburger-line::after, .hamburger-line::before{
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: #333;
		top: 5px;
	}

	.hamburger-line::before{
		top: -5px;
	}

	.hamburger-label{
		z-index: 999;
	}

	.mobile-background{
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background: rgba(1,1,1,0.7);
		transition: opacity 250ms ease-out;
		z-index: 2;
	}

	.checkbox-hamburger:checked ~ .mobile-background{
		opacity: 100;
	}

	.checkbox-hamburger:checked ~ .navbar-mobile-box{
		opacity: 100;
		transform: translateX(0);
		/*z-index: 10;*/
	}

	.checkbox-hamburger:checked ~ .hamburger{
		color: #fff;
		z-index: 3;
	}

	.checkbox-hamburger:checked ~ .hamburger .hamburger-line, 
	.checkbox-hamburger:checked ~ .hamburger .hamburger-line::before, 
	.checkbox-hamburger:checked ~ .hamburger .hamburger-line::after
	{
		background: #fff;
		z-index: 3;
	}

	.checkbox-hamburger:checked ~ .hamburger .hamburger-line{
		transform: rotate(45deg);
	}

	.checkbox-hamburger:checked ~ .hamburger .hamburger-line::before,
	.checkbox-hamburger:checked ~ .hamburger .hamburger-line::after{
		top: 0;
		transform: rotate(90deg);
	}

	.navbar-mobile-box{
		position: absolute;
		background: #fff;
		width: 100%;
		max-width: 500px;
		top: 30px;
		bottom: 5vh;
		z-index: 500;
		transform: translateX(-30%);
		opacity: 0;
		transition: transform 250ms ease-in, opacity 250ms ease-out;
		border-radius: 5px;
		overflow: hidden;
	}

	.navbar-mobile-box-header{
		width: 100%;
		height: 50px;
		background-image: linear-gradient(to right,#00d687,#00d2ab);
		display: flex;
		align-items: center;
		padding: 0 3rem;
	}

	.navbar-mobile-box-header h2{
		margin: 0;
		padding: 0;
		font-size: 14px;
		color: #fff;
	}

	.navbar-mobile-box-content{
		height: 100%;
		padding: 4rem 3rem;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	@media (max-width: 430px){
		.navbar-mobile-box-header{
			padding: 0 1rem;
		}

		.navbar-mobile-box-content{
			padding: 2rem 1rem;	
		}	
	}

	.navbar-mobile-box-content > ul{
		margin-bottom: 3rem;
	}

	.navbar-mobile-box-content > ul .fas{
		margin-right: 5px;
	}

	.navbar-mobile-box-content > ul > li{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 85px;
		margin: 5px 0;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		text-transform: uppercase;
	}

	.navbar-mobile-box-content > ul > li > a{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 700;
		text-decoration: none;
	}

	.li-poukazy{
		background-image: url("images/bg-poukazy.jpg");
	}	

	.li-darky{
		background-image: url("images/bg-darky.jpg");
	}	

	.li-slovensko{
		background-image: url("images/mobilemenuback.jpg");
	}

	.li-cesko{
		background-image: url("images/bg-cesko.jpg");
	}	

	.li-madarsko{
		background-image: url("images/bg-madarsko.jpg");
	}	

	.li-polsko{
		background-image: url("images/mobilemenuback.jpg");
	}

	.li-rakousko{
		background-image: url("images/bg-cesko.jpg");
	}	

	.li-italie{
		background-image: url("images/bg-madarsko.jpg");
	}	

	.li-chorvatsko{
		background-image: url("images/bg-cesko.jpg");
	}	

	.li-nemecko{
		background-image: url("images/mobilemenuback.jpg");
	}	

	.li-slovinsko{
		background-image: url("images/bg-madarsko.jpg");
	}	

	.navbar-mobile-box-inspirace{
		width: 100%;
	}	

	
	/* NAV - mobile - inspirace */
	.navbar-mobile-box-inspirace ul{
		display: flex;
		flex-wrap: wrap;
		font-size: 15px;
		justify-content: space-between;
	}

	.navbar-mobile-box-inspirace li{
		flex: 0 1 47%;
		text-align: center;
	}

	.navbar-mobile-box-inspirace li img{
		border-radius: 5px;
		overflow: hidden;
		width: 100%;
		height: 90px;
		object-fit: cover;
	}

	.navbar-mobile-box-inspirace p{
		padding: 0;
		margin: 0.5rem 0 0.8rem;
		font-size: 1rem;
	}	

	/* NAV - mobile - contact */

	.navbar-mobile-contact{
		color: rgba(1,1,1,0.6);
	}

	.navbar-mobile-social{
		display: flex;
		margin-bottom: 2rem;
	}

	.navbar-mobile-social .fab{
		font-size: 20px;
		padding-top: 10px;
		text-align: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin: 0 0.3rem;
		color: white;
	}

	.fa-facebook-f{
		background: #3b5998;
	}	

	.fa-youtube{
		background: #c4302b;
	}	

	.fa-instagram{
		background: #d6249f;
  		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	}	

	.navbar-mobile-email{
		position: relative;
		margin: 0 0.8rem;
	}

	.navbar-mobile-email input{
		width: 100%;
		height: 40px;
		border: 0;
		border-radius: 20px;
		padding-left: 1rem;
		background: rgba(1,1,1,0.1);
		transition: box-shadow 100ms ease-in;
		font-size: 16px;
	}

	.navbar-mobile-email input:focus{
		outline: none;
		-webkit-box-shadow: 0px 0px 0px 2px rgba(0,214,135,1);
		-moz-box-shadow: 0px 0px 0px 2px rgba(0,214,135,1);
		box-shadow: 0px 0px 0px 2px rgba(0,214,135,1);
	}

	.navbar-mobile-email .far{
		background: none;
		padding: 0;
		margin: 0;
	}

	.fa-paper-plane{
		position: absolute;
		right: 1rem;
		transform: translateY(50%);
		bottom: 50%;
		transition: color 250ms ease-in;
	}

	.fa-paper-plane:hover{
		color: #00d687;;
	}

	.navbar-mobile-confirmation{
		font-size: 0.8rem;
		margin: 1rem 0.8rem 3rem;
	}

	/* NAV - mobile - footer */
	.navbar-mobile-footer{
		position: relative;
	}

	.navbar-mobile-footer-last{
		border-bottom: 1px solid rgba(1,1,1,0.1);
		margin-bottom: 3rem;
	}

	.navbar-mobile-footercheckbox{
		position: relative;
		width: 100%;
		height: 50px;
		z-index: 800;
		border: 0;
		padding: 0;
		margin: 0;
		opacity: 0;
	}

	.navbar-mobile-footer-title{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		display: flex;
		border-top: 1px solid rgba(1,1,1,0.1);
	}

	.navbar-mobile-footer-title h3{
		font-size: 14px;
	}

	.navbar-mobile-footer-title a{	
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;
	}

	.navbar-mobile-footer-title .fa-chevron-circle-down{
		color: rgba(1,1,1,0.4);
		font-size: 18px;
	}

	.navbar-mobile-footer ul{
		/*transform: scale(1,0);
		transform-origin: top;
		transition: transform 250ms ease-in, height 250ms ease-in;*/
		margin-top: 0;
		padding-top: 0;
		max-height: 0;
		overflow: hidden;
	}	

	.navbar-mobile-footer li{
		margin: 5px 0;
	}

	.navbar-mobile-footer li:first-of-type{
		margin-top: 0;
	}

	.navbar-mobile-footercheckbox:checked ~ ul{
		max-height: 1000px;
		transition: max-height 500ms ease-in-out;
		/*transform: scale(1,1);
		height: 100%;*/
	}

	.navbar-mobile-footercheckbox:checked ~ .navbar-mobile-footer-title a{
		color: #00d687;
	}

	.navbar-mobile-footercheckbox:checked ~ .navbar-mobile-footer-title a .fa-chevron-circle-down{
		transform: rotateX(180deg);
	}
}

/* Choose destination */
.choose-destination{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.choose-destination-box{
	background: #ffd24a;
	border-radius: 5px;
	display: flex;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);	
}

.choose-destination-item{
	flex: 1 1 33.3333%;
	text-align: left;
	padding: 1.5rem;
	border-right: 1px solid #ffa82c;
}

.choose-destination-item:last-of-type{
	border: none;
}

@media (max-width: 1024px){
	.choose-destination-box{
		flex-direction: column;
	}

	.choose-destination-item{
		flex: 1 1 100%;
		border-right: none;
		border-bottom: 1px solid #ffa82c;
	}
}

.choose-destination-item h3{
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
	margin-bottom: 0.5rem;
}

.choose-destination-dropdown-wrapper{
	position: relative;
	width: 100%;
}

.choose-destination-dropdown-checkbox{
	position: absolute;
	width: 100%;
	height: 34px;
	border: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 500;
}

.choose-destination-dropdown-header{
	width: 100%;
	height: 34px;
	background: white;
	border-radius: 17px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	cursor: pointer;
}

.choose-destination-dropdown-header .fa-chevron-circle-down{
	color: #ffa82c;
}

.choose-destination-dropdown-checkbox:checked ~ .choose-destination-dropdown-checked{
	display: block;
}

.choose-destination-dropdown-checkbox:checked ~ .choose-destination-dropdown-header .fa-chevron-circle-down{
	transform: rotateX(180deg);
}

.choose-destination-dropdown-checked{
	position: absolute;
	margin-top: 0.3rem;
	left: 0;
	width: 350px;
	background: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);	
	display: none;
	z-index: 599;
}

.checked-typ-pobytu{
	z-index: 600;	
}

@media (max-width: 768px){
	.choose-destination-dropdown-checked{
		width: 100%;
	}
}

.choose-destination-dropdown-checked ul{
	padding: 1rem;
}

.choose-destination-dropdown-checked li{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	border-bottom: 1px solid rgba(1,1,1,0.1);
}

.choose-destination-dropdown-checked li:first-of-type{
	display: flex;
	padding-bottom: 1rem;
}

.choose-destination-dropdown-checked li:last-of-type{
	border-bottom: none;
}

.choose-destination-dropdown-checked li i{
	margin: 0;
	margin-right: 5px;
	padding: 0;
}

.destination-type-checkbox{
	position: absolute;
	right: 0;
	opacity: 0;
}

.destination-type-checkbox-new{
	position: relative;
	width: 1rem;
	height: 1rem;
	border: 2px solid #999;
	background: white;
	transition: border 250ms ease-in;
}

.destination-type-checkbox-new::before{
	position: absolute;
	content: "";
	left: 3px;
	top: 0px;
	width: 6px;
	height: 10px;
	border-radius: 5px;
	border: solid #00d687;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg) scale(0);
	transition: transform 250ms ease-in;
}

.destination-type-checkbox:checked ~ label .destination-type-checkbox-new,
.destination-type-checkbox:checked ~ .destination-type-checkbox-new{
	border-color: #00d687;
}

.destination-type-checkbox:checked ~ label .destination-type-checkbox-new::before,
.destination-type-checkbox:checked ~ .destination-type-checkbox-new::before{
	transform: rotate(45deg) scale(1);
}

.destination-type-label{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.8rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.destination-type-big{
	position: relative;
	width: 100px;
	height: 100px;
	margin-right: 0.6rem;
}

/*.destination-type-big-checkbox{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}*/

.destination-mountains-label,
.destination-skiing-label{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.5rem 1rem;
	color: white;
	font-weight: 700;
	background-color: rgba(1,1,1,0.2);
	cursor: pointer;
	overflow: hidden;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,0);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,0);
	box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,0);
	transition: box-shadow 250ms ease-in;
}

.destination-mountains-label{
	background-image: url("images/hory.jpg");
}

.destination-skiing-label{
	background-image: url("images/lyzovani.jpg");
}

.destination-mountains-label span:first-of-type,
.destination-skiing-label span:first-of-type{
	align-self: flex-start;
}

.destination-type-checkbox:checked ~ .destination-mountains-label,
.destination-type-checkbox:checked ~ .destination-skiing-label{
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,1);
	box-shadow: inset 0px 0px 0px 2px rgba(0,214,135,1);*/
}

.choose-destination-button-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.choose-destination-button{
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 1.5rem;
	background: #ffa82c;
	padding: 0.7rem 3rem;
	cursor: pointer;
	overflow: hidden;
	transition: background 250ms ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choose-destination-button i{
	margin-right: 5px;
	font-size: 1.5rem;
}

.choose-destination-button:hover{
	background-color: #fa970a;
}

.choose-destination-button:focus{
	outline: none;
}

/* SLIDER */
.slider{
	margin-bottom: 2rem;
}

/* Discover - items */

.discover-items{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 1.5rem;
}

.discover-item{
	flex: 0 1 24%;
	/*margin: 0.75rem;*/
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);	
}

@media (max-width: 1024px){
	.discover-items{
		flex-wrap: wrap;
	}

	.discover-item{
		flex: 0 1 48.5%;
		margin-bottom: 1rem;
	}
}

@media (max-width: 500px){
	.discover-item{
		flex: 0 1 100%;
		margin-bottom: 1rem;
	}	
}

.discover-item a{
	display: flex;
	text-decoration: none;
}

.discover-item a:hover .discover-item-col h3{
	text-decoration: underline;
}

.discover-item-col{
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.discover-item-col h3{
	margin: 0;
	padding: 0;
	margin-bottom: 0.5rem;
}

.discover-item-col p{
	margin: 0;
	padding: 0;
	color: #00d687;
}

.discover-item-col img{
	object-fit: cover;
}

.discover-countries{
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.1);	
}

.discover-country{
	flex: 1 1 16.66666666666666666%;
	height: 100%;
	border-right: 1px solid rgba(1,1,1,0.1);
}

.discover-country a{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 0.5rem;
	text-decoration: none;
	transition: background 250ms ease-in;
}

.discover-country a:hover{
	background: rgba(1,1,1,0.02);
}

@media (max-width: 1024px){
	.discover-countries{
		flex-wrap: wrap;
	}

	.discover-country{
		flex: 1 1 33.33333%;
	}

	.discover-country a{
		justify-content: flex-start;
		padding: 1.5rem;
	}

	.border-bottom{
		border-bottom: 1px solid rgba(1,1,1,0.1);
	}
}

@media (max-width: 768px){
	.discover-country{
		flex: 1 1 50%;
	}

	.border-bottom2{
		border-bottom: 1px solid rgba(1,1,1,0.1);
	}	
}

@media (max-width: 500px){
	.discover-country{
		flex: 1 1 100%;
	}

	.border-bottom3{
		border-bottom: 1px solid rgba(1,1,1,0.1);
	}	
}

.discover-country-flag{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	margin-right: 15px;
	background-size: cover;
	background-position: center;
}

.discover-country-flag::before{
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	left: -10px;
	top: -10px;
	border-radius: 50%;
	background: transparent;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.05);	
}

.discover-country-flag::after{
	position: absolute;
	content: '';
	width: 54px;
	height: 54px;
	top: -7px;
	left: -7px;
	border-radius: 50%;
	background: rgba(1,1,1,0.05);
}

.flag-austria{
	background-image: url("images/austria-flag-circle.svg");
}

.flag-poland{
	background-image: url("images/poland-flag-circle.svg");
}

.flag-italy{
	background-image: url("images/italy-flag-circle.svg");
}

.flag-croatia{
	background-image: url("images/croatia-flag-circle.svg");
}

.flag-germany{
	background-image: url("images/germany-flag-circle.svg");
}

.flag-slovenia{
	background-image: url("images/slovenia-flag-circle.svg");
}

/* favorites */
.favorites{
	margin-top: 2rem;
}

.favorites-box{
	display: flex;
	align-items: flex-start;
	/*overflow-x: scroll;
	overflow-y: hidden;*/
}

.favorites-box figure{
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: 1rem;
	flex: 0 1 16.666%;
}

.favorites-box figure::after{
	content: '';
	display: block;
	padding-bottom: 100%;
}

.favorites-box figure a{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	/*-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);	*/
	transition: transform 250ms ease-in, box-shadow 250ms ease-in;
	display: block;
}

.favorites-box figcaption{
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-weight: 700;
	font-size: 0.9rem;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	border: 2px solid white; 
	margin: 0;
	text-align: center;
	display: block;
	width: content;
	transition: background 250ms ease-in, color 250ms ease-in;
}

.favorites-box img{
	height: 100%;
	object-fit: cover;
}

.favorites-box figure a:hover{
	transform: translateY(-5px);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);	
}

.favorites-box figure a:hover figcaption{
	color: black;
	background: white;
}

@media(max-width: 1024px){
	.favorites-box{
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 20px;
	}	

	.favorites-box figure{
		flex: 0 0 25vw;
		min-width: 150px;
	}
}

/* News */
.news{
	margin-top: 5rem;
	position: relative;
}

.news-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.news-box{
	display: flex;
	margin-top: 2rem;
}

.news-box figure{
	flex: 1 1 25%;
	padding: 0;
	margin: 0;
	margin-right: 1rem;
}

.news-box figure img{
	border-radius: 5px;
	overflow: hidden;
	transition: box-shadow 250ms ease-in, transform 250ms ease-in;
}

.news-box figure a{
	text-decoration: none;
	color: black;
}

.news-box figure h3{
	padding: 0;
	margin: 0.5rem 0 0.2rem;
	font-size: 1.2rem;
}

.news-box figure p{
	padding: 0;
	margin: 0.5rem 0;
}

.news-box figure i{
	margin: 0;
	padding: 0;
}

.news-box figure span, .button-newest{
	color: #f89200;
	font-weight: 700;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 1.2rem;
	border: 1.5px solid #f89200;
	background: transparent;
	cursor: pointer;
}

.news-box figure span{
	display: inline-block;
	margin-top: 0.5rem;
	transition: color 250ms ease-in, background 250ms ease-in;
}

.news-box figure a:hover img{
	transform: translateY(-5px);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);	
}

.news-box figure a:hover h3{
	text-decoration: underline;
}

.news-box figure a:hover span{
	color: white;
	background: #f89200;
}

@media (max-width: 768px){
	.news-box{
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.news-box figure{
		flex: 0 1 48.5%;
		margin-right: 0;
		margin-bottom: 1rem;
	}	

	.button-newest{
		position: absolute;
		bottom: -3rem;
		width: 100%;
	}
}

@media (max-width: 500px){
	.news-box figure p{
		display: none;
	}	
}

@media (max-width: 380px){
	.news-box figure{
		margin-bottom: 2rem;
	}	

	.news-box figure{
		flex: 1 1 100%;
	}	
}

/* Showcase */
.showcase{
	background: white;
	text-align: center;
	margin: 4rem 0;
	padding: 3rem 0;
}

.container-narrow{
	width: 90%;
	max-width: 900px;
	padding: 1rem 0;
	margin: 0 auto;
	line-height: 1.5;
}

.showcase i{
	color: white;
	background-image: linear-gradient(to right,#00d687,#00d2ab);
	border-radius: 50%;
	padding: 1rem;
	font-size: 25px;
	text-shadow: none;
	margin-bottom: 1rem;
}

.showcase p{
	font-size: 1.3rem;
}

.showcase p span{
	display: inline-block;
	padding-top: 1rem;
	font-weight: 700;
	font-size: 1.2rem;
}

/* Ratings */
.ratings-box{
	display: flex;
}

.ratings-box figure{
	padding: 0;
	margin: 0;
	position: relative;
	height: 18vw;
	border-radius: 5px;
	overflow: hidden;
}

.ratings-box figure:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(1,1,1,0.2);
}

.ratings-box figcaption{
	position: absolute;
	bottom: 3rem;
	z-index: 3;
	color: white;
	font-weight: 700;
	font-size: 0.9rem;
	margin: 0 1rem;
	text-align: center;
}

.ratings-box img{
	height: 100%;
	width: auto;
	object-fit: cover;
}

.rating{
	flex: 1 1 16.6666%;
	margin-right: 1rem;
	text-align: center;
}

.rating:last-of-type{
	margin-right: 0;
}

.rating a{
	cursor: pointer;
}

.rating-smile{
	width: 60px;
	height: 60px;
	background: #f0f0f0;
	margin: 0 auto;
	transform: translateY(-50%);
	z-index: 5;
	border-radius: 50%;
	padding-top: 14px;
}

.rating-smile::before{
	position: absolute;
	content: '';
	width: 60px;
	height: 60px;
	left: 0px;
	top:  0px;
	border-radius: 50%;
	background: transparent;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.05);	
	z-index: 4;
}

.rating-smile .fa-smile{
	font-size: 30px;
	padding: 0;
	margin: 0;
	background: transparent;
}

/*.rating-smile::after{
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	top:  10px;
	left: 10px;
	border-radius: 50%;
	background: #ccc;
	z-index: 3;
}*/

.rating h3{
	font-weight: 400;
	margin-top: -10px;
}

.rating p{
	font-size: 0.85rem;
	padding-bottom: 20px;
}

@media(max-width: 1024px){
	.ratings-box{
		overflow-x: scroll;
		overflow-y: hidden;
		padding-bottom: 20px;
	}	

	.ratings-box figure{
		flex: 0 0 30vw;
		min-height: 300px;
		min-width: 200px;
	}

	.ratings-box img{

	}
}
